{% extends 'base.html' %}
<!-------------------------------------------------------->
{% block links %}
<link rel="stylesheet" href="{{url_for('static', filename='css/projeto-especifico.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/posvenda.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/clientes.css')}}">


{% endblock links %}
{% block title %} Pesquisar
{% endblock %}
<!-------------------------------------------------------->
{% block navbar %}
<div class="local">
    <form action="{{url_for('projeto.pesquisa')}}" class="form-inline" method="POST">
        <input name="pesquisa" type="search" class="caixa-pesquisa" id="texto-pesquisa" placeholder="Pesquisar projeto...">
        <button type="submit" class="botao-pesquisa" id="submit">Buscar</button>
    </form>
</div>
</div>

{% endblock navbar %}

{% block content %}
<div class="container" id="centralizar">

    <div class="row justify-content-center mt-5">
        <div class="col-6" id="">
            <div id="clientes">
                <h1>Resultados:</h1>
                <ul>
                    {% for projeto in projetos %}
                    <a href="{{url_for('projeto.especifico',_id=projeto.id)}}">
                        <li>
                            <strong>Projeto:</strong>
                            <p style="font-size: 15pt;">{{projeto.nome}}</p>
                
                            <strong>Tipo:</strong>
                            <p style="font-size: 15pt;">{{projeto.tipo}}</p>
                
                
                            <strong style="padding-right: 95px;">Valor:</strong>
                            <p style="font-size: 15pt;">R$ {{projeto.valor}}</p>
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
            
            
        </div>
    </div>
</div>
{% endblock content%}

<!-------------------------------------------------------->
