h1 {
    padding-top: 28px;
    font-size: 36px;
    text-align: center;
    color: #4d4d4d;
}
a {
    text-decoration: none;
}

a,
a:link,
a:visited
{
    text-decoration: none;
    color:#000;
}

div.container {
    margin: 20px;
    margin-top: 30px;
}

div.row {
    flex-wrap: nowrap;
}
h1.centralizar{
    margin-left: 180px;
}
#clientes ul {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
    list-style: none;
    margin: 10px;
    padding-inline-start: 0px;
}

#clientes ul li {
    font-size: 18px;
    background: #9adbe8;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px #333;
}

.caixa-pesquisa{
    top: -200px;
    left: 50%;
    width: 300px;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    z-index: 5000;
}
div.local{
    margin-top: -79px;
}
.botao-pesquisa{
    width: 65px; ;
    height: 50px;
    border-radius: 30%;
    background-color: #9ADBE8;
    border-color: #56DDEF;
    z-index: 5000;
}
form.form-inline input#texto-pesquisa {
    margin-left: 950px;
    
}

.caixa-pesquisa {
    top: -50px;
    left: 60%;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    z-index: 10;
}

.botao-pesquisa {
    width: 65px; ;
    height: 50px;
    border-radius: 15px;
    background-color: white;
    border-color: #56DDEF;
    z-index: 5;
    color: #00bce1;
    transition: 0.1s;
    margin-top: 5px;
}
.botao-pesquisa:hover{
    background-color: #56DDEF;
    color: white;
}
form.form-inline input#texto-pesquisa {
    margin-left: 900px;
    
}
#cadastro-cliente{
    margin: 60px;
    margin-left: 550px;
    margin-right: 0px;
}
.jogos{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 2000;
}
.jogos-content{
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    border: 3px solid #00bce1;
    position: relative;
    animation: bg-modal .3s;
}
@keyframes bg-modal{
    from{
        opacity: 0;
        transform: translate3d(0, -100px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

p.cadastro{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

#move{
    margin-top: -80px;
    margin-left: 420px;
    padding-right: 0px;
    
}

.close-{
    position: absolute;
    top: -15px;
    right: 0px;
    font-size: 30pt;
    transform: rotate(45deg);
    cursor: pointer;
    color: gray;
    font-weight: bold;
}